[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-aliases-exa"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-aliases-exa
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/dracula/tmux
