[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-aliases-exa"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-aliases-exa
	url = git@github.com:DarrinTisdale/zsh-aliases-exa.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
